body {
  font-family: sans-serif;
}

.chart {
  height: 400px;
}

svg {
  border: 1px solid gray;
}

path,
circle,
text {
  cursor: pointer;
}

path.selected {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

rect.axis-bg {
  fill: white;
  opacity: 0.7;
  z-index: -1;
}
